{#
SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
SPDX-FileCopyrightText: 2023 MASH project contributors
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Forgejo ({{ forgejo_identifier }})
{% for service in forgejo_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in forgejo_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ forgejo_identifier }} 2>/dev/null'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ forgejo_identifier }} 2>/dev/null'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ forgejo_identifier }} \
      --log-driver=none \
      --user={{ forgejo_uid }}:{{ forgejo_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ forgejo_container_network }} \
      {% if forgejo_container_http_host_bind_port %}
      -p {{ forgejo_container_http_host_bind_port }}:{{ forgejo_container_http_port }} \
      {% endif %}
      {% if forgejo_container_ssh_host_bind_port != '' and not forgejo_container_labels_traefik_tcp_enabled %}
      -p {{ forgejo_container_ssh_host_bind_port }}:{{ forgejo_config_server_ssh_listen_port }} \
      {% endif %}
      {% if forgejo_container_add_host_domain_name %}
      --add-host {{ forgejo_container_add_host_domain_name }}:{{ forgejo_container_add_host_domain_ip_address }} \
      {% endif %}
      --env-file={{ forgejo_base_path }}/env \
      --label-file={{ forgejo_base_path }}/labels \
      --mount type=bind,src={{ forgejo_data_path }},dst=/var/lib/gitea \
      --mount type=bind,src={{ forgejo_config_path }},dst=/etc/gitea \
      --tmpfs=/tmp:rw,noexec,nosuid,size={{ forgejo_container_tmpfs_size_mb }}m \
      {% for arg in forgejo_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ forgejo_container_image_self_build_name if forgejo_container_image_self_build else forgejo_container_image }}

{% for network in forgejo_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ forgejo_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ forgejo_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ forgejo_identifier }} 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ forgejo_identifier }} 2>/dev/null'

Restart=always
RestartSec=30
SyslogIdentifier={{ forgejo_identifier }}

[Install]
WantedBy=multi-user.target
